
<html>
<body>
    <form action="view" method="post">
        {% csrf_token %}
        {% for ls in view %}
        <div class="column">
            <div class="card">
            <h1>View Profile</h1>
            
            <h2>Username:</h2>
            <p id="username"></p>
            <h1>{{ls.uname}}</h1>

            <h2>Email:</h2>
            <p id="email"></p>
            <h1>{{ls.email}}</h1>

            <h2>Address:</h2>
            <p id="address"><br></p>
            <h1>{{ls.address}}</h1>

            <h2>Picture</h2>
            <p id="picture"><br></p>
            <h1>{{ls.picture}}</h1>
            
            </div>
        {% endfor %}
        </div>
        
    </form>
    <script>
        document.getElementById("username").textContent ="";
        document.getElementById("email").textContent ="";
        document.getElementById("address").textContent ="";
        document.getElementById("picture").textContent ="";
    </script>
</body>
</html>







               
